{% extends 'base.html' %} 
{% load static %}
{% block titulo %} 
 Grafica Tipo Sangre 
{% endblock titulo %}
{% block contenido %}


<div id="grafica" style="min-width: 310px; max-width: 800px; margin: 1em auto;"> </div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/exporting-data.js"></script>


<script>
	
    // Create the chart
    Highcharts.chart('grafica', {
    	lang:{
    		downloadCVS: "Descarga CVS",
    		downloadJPEG: "Descarga imagen JPEG",
    		downloadPDF: "Descarga PDF",
    		downloadPNG: "Descargar imagen PNG",
    		downloadSVG: "Descarga en imaen de verctores",
    		viewFullscreen: "Ver en pantalla completa",
    		printChart: "imprimir gráfica"
    	},
        chart: {
            type: 'column'
        },
        title: {
            text: 'Gráfica tipo de sangre'
        },
        subtitle: {
            text: 'Pacientes agrupado por tipo de sangre'
        },

        xAxis: {
            categories: ['tipo_sangre']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad de pacientes'
            }

        },

        plotOptions: {
            column: {
                pointPaddin: 0.2,
                borderWidth: 0
            }

        },

        series: {{datos | safe}}



    });
</script>

{% endblock contenido %}