{% extends 'base.html' %} {% block titulo %}Lista de pacientes{% endblock titulo %} {% block contenido %}
<h1>Lista de pacientes</h1>
<div class="card-footer">
    <a title="PDF lista " class="btn btn-danger" href="{% url 'pacientes:pdf_pacientes' %}">
        <i class="far fa-fax"></i>
    </a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Fecha de nacimiento</th>
            <th>No. Seguro social</th>
            <th>Tipo de sangre</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in object_list %}
        <tr>
            <td>{{paciente.nombre}}</td>
            <td>{{paciente.primerApellido}}</td>
            <td>{{paciente.segundoApellido}}</td>
            <td>{{paciente.fecha_nac}}</td>
            <td>{{paciente.numero_ss}}</td>
            <td>{{paciente.tipo_sangre}}</td>
            <td>
                <a title="PDF paciente" class="btn btn-warning" href="{% url 'pacientes:paciente_pdf' paciente.id %}">
                    <i class="far fa-fax"></i>
                </a>
                <a title="Actualiza paciente" class="btn btn-warning" href="{% url 'pacientes:editar' paciente.id %}">
                    <i class="far fa-edit"></i>
                </a>
                <a title="Elimina paciente" class="btn btn-danger" href="{% url 'pacientes:eliminar' paciente.id %}">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span> -->


<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">

            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Anterior  </a>
        </li>
        {% endif %} {% for pagina in page_obj.paginator.page_range %} {% if page_obj.number == pagina%}
        <li class="page-item active"><a class="page-link" href="?page={{ pagina }}">{{pagina}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ pagina }}">{{pagina}}</a></li>
        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <li class="page-item">

            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        </li>
        {% else %}
        <li class="page-item disabled">

            <a class="page-link" href="#" tabindex="-1">Siguiente</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock contenido %}