
{% extends 'base.html' %}

{% block titulo %}Lista de pacientes{% endblock titulo %}
    
{% block contenido %}
<div class="row">
    <div class="col-md-2"></div> 
    <div class="col-md-8">
        <div class="card card-primary">
            <div class="card-header">
            </div>
                <form method="post">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.description }}
                    </div>
                    
                </form>
        </div>
    </div>
</div> 
{% endblock contenido %}